body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
